<?xml version="1.0"?>
<robot name = "conveyor_belt">

<link name="world"/>

<joint name="joint_fix" type="fixed">
	<parent link="world"/>
	<child link="conveyor"/>
</joint>

<link name="conveyor">
	<collision>
		<origin xyz="0 0 0.25" rpy="0 0 0"/>
		<geometry>
		<box size="5 1 0.5"/>
		</geometry>
	</collision>

	<visual>
		<origin xyz="0 0 0.25" rpy="0 0 0"/>
		<geometry>
		<box size="5 1 0.5"/>
		</geometry>
	</visual>

	<inertial>
		<origin xyz="0 0 0.25" rpy="0 0 0"/>
		<mass value="2.5"/>
		<inertia
		ixx="1.0" ixy="0.0" ixz="0.0"
		iyy="1.0" iyz="0.0"
		izz="1.0"/>
	</inertial>
</link>

<gazebo reference="conveyor">
  <mu1>0</mu1>
  <mu2>0</mu2>
  <material>Gazebo/FlatBlack</material>
</gazebo>

</robot>
