<?xml version="1.0"?>
<robot name = "table">

<link name="world"/>

<joint name = "table_joint" type = "fixed">
  <parent link="world"/>
  <child link = "table"/>
</joint>


<link name ="table"> <!--2-->
  <collision>
    <origin xyz="0 0 0.525" rpy="0 0 0"/>
    <geometry>
      <box size="1.5 1 0.05"/> <!--3-->
    </geometry>
  </collision>

  <visual>
    <origin xyz="0 0 0.525" rpy="0 0 0"/>
    <geometry>
      <box size="1.5 1 0.05"/>
    </geometry>
  </visual>

  <inertial>
    <origin xyz="0 0 0.525" rpy="0 0 0" />
    <mass value="0.075" />
    <inertia
      ixx="0.001" ixy="0.0"  ixz="0.0"
      iyy="0.001" iyz="0.0"
      izz="0.001" />
  </inertial>
</link>

<joint name="leg1_joint" type = "fixed">
	<parent link="table"/>
	<child link="leg1"/>
</joint>

<link name ="leg1"> 
  <collision>
    <origin xyz="0.6 0.4 0.25" rpy="0 0 0"/>
    <geometry>
      <box size="0.04 0.04 0.5"/> 
    </geometry>
  </collision>

  <visual>
    <origin xyz="0.6 0.4 0.25" rpy="0 0 0"/>
    <geometry>
      <box size="0.02 0.02 0.5"/>
    </geometry>
  </visual>

  <inertial>
    <origin xyz="0.6 0.4 0.25" rpy="0 0 0" />
    <mass value="0.012" />
    <inertia
      ixx="0.001" ixy="0.0"  ixz="0.0"
      iyy="0.001" iyz="0.0"
      izz="0.001" />
  </inertial>
</link>





<joint name="leg2_joint" type = "fixed">
	<parent link="table"/>
	<child link="leg2"/>
</joint>

<link name ="leg2"> 
  <collision>
    <origin xyz="-0.6 0.4 0.25" rpy="0 0 0"/>
    <geometry>
      <box size="0.02 0.02 0.5"/> 
    </geometry>
  </collision>

  <visual>
    <origin xyz="-0.6 0.4 0.25" rpy="0 0 0"/>
    <geometry>
      <box size="0.02 0.02 0.5"/>
    </geometry>
  </visual>

  <inertial>
    <origin xyz="-0.6 0.4 0.25" rpy="0 0 0" />
    <mass value="0.02" />
    <inertia
      ixx="0.001" ixy="0.0"  ixz="0.0"
      iyy="0.001" iyz="0.0"
      izz="0.001" />
  </inertial>
</link>





<joint name="leg3_joint" type = "fixed">
	<parent link="table"/>
	<child link="leg3"/>
</joint>

<link name ="leg3"> 
  <collision>
    <origin xyz="-0.6 -0.4 0.25" rpy="0 0 0"/>
    <geometry>
      <box size="0.02 0.02 0.5"/> 
    </geometry>
  </collision>

  <visual>
    <origin xyz="-0.6 -0.4 0.25" rpy="0 0 0"/>
    <geometry>
      <box size="0.02 0.02 0.5"/>
    </geometry>
  </visual>

  <inertial>
    <origin xyz="-0.6 -0.4 0.25" rpy="0 0 0" />
    <mass value="0.02" />
    <inertia
      ixx="0.001" ixy="0.0"  ixz="0.0"
      iyy="0.001" iyz="0.0"
      izz="0.001" />
  </inertial>
</link>


<joint name="leg4_joint" type = "fixed">
	<parent link="table"/>
	<child link="leg4"/>
</joint>

<link name ="leg4"> 
  <collision>
    <origin xyz="0.6 -0.4 0.25" rpy="0 0 0"/>
    <geometry>
      <box size="0.02 0.02 0.5"/> 
    </geometry>
  </collision>

  <visual>
    <origin xyz="0.6 -0.4 0.25" rpy="0 0 0"/>
    <geometry>
      <box size="0.02 0.02 0.5"/>
    </geometry>
  </visual>

  <inertial>
    <origin xyz="0.6 -0.4 0.25" rpy="0 0 0" />
    <mass value="0.02" />
    <inertia
      ixx="0.001" ixy="0.0"  ixz="0.0"
      iyy="0.001" iyz="0.0"
      izz="0.001" />
  </inertial>
</link>


<gazebo reference="table">
  <mu1>10</mu1>
  <mu2>10</mu2>
  <material>Gazebo/grey</material>
</gazebo>

<gazebo reference="leg1">
  <mu1>10</mu1>
  <mu2>10</mu2>
  <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="leg2">
  <mu1>10</mu1>
  <mu2>10</mu2>
  <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="leg3">
  <mu1>10</mu1>
  <mu2>10</mu2>
  <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="leg4">
  <mu1>10</mu1>
  <mu2>10</mu2>
  <material>Gazebo/Black</material>
</gazebo>

</robot>
